body {
    font-family:'Source Sans Pro', sans-serif;
    text-align: center;
    background-color: #CFCFEA;
    background-image: url("pics/flor2.png");
    background-size: 520px;
    background-repeat: no-repeat;
    background-position: right 110px bottom 60px;
}

#bodPrinc {
    background-position: center bottom 30px;
}

#welcome {
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

form {
    position: relative;
    top: 60px;
    right: 190px;
    border: 1px; 
    border-style: groove; 
    border-color: #ffbbaa;
    border-radius: 4px;
    padding: 115px;
    font-size: 20px;
    background-color: #ffbbaa;
    width: 330px;
    display: inline-block;
}

#datos > input {
    text-align: left;
}

#botones > input {
    border: 0px;
    border-style: ridge;
    color: #f4f4f4;
    border-radius: 3px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    padding: 6px;
    background-color: black;
}

#botones > input:hover {
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: #283a35;
}
      
a:visited {
    text-decoration: none;
    color: #283a35;
}

/*#principal {
    text-align: center;
}*/
h1 {
    text-align: center;
}

#links {
    /* text-align: center; */
    display: inline;
    font-size: 43px;
    border: 1px solid #CFCFEA;
    letter-spacing: 1px;
    padding: 8px;
    margin-left: 0px;
    margin-right: 0px;
}

#homePic {
    width: 40px;
    position: relative;
    top: 8px;
    left: 5px;
}

span {
    text-decoration: underline;
    color: cadetblue;
}

.links {
    position: relative;
    top: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
    width: 50px;
}

#home {
    left: 6px;
    padding-left: 3px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: inherit;
    background-color: #ffbbaa  !important;
}

#almacen {
    display: inherit;
    background-color: #ffbbaa !important;
}

#clientes {
    display: inherit;
    background-color: #ffbbaa !important;
}

#compras {
    display: inherit;
    background-color: #ffbbaa !important;
}

table, td, th {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    background-color: #ffbbaa;
    padding: 8px;
} 

table {
   position: absolute;
   top: 138px; 
}

#tAlmacen {
    right: 230px;
}

#tClientes {
    right: 130px;
}

#tCompras {
    right: 10px;
}

td {
    text-align: center;
}

#message {
    position: relative;
    top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

#flor2{
    width: 450px;
}